<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/Styles")
	@Scripts.Render("~/bundles/Scripts")

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" style="padding: 0.1rem 1rem 0.1rem 1rem !important">
		<a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="fa fa-pie-chart"></span> MyPortions</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" style="padding-top:0.5rem">
				<div class="input-group mb-3 input-group-sm">
					<input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn btn-success btn" type="button"><span class="fa fa-search"></span></button>
					</div>
				</div>
				&nbsp;
				<div class="input-group mb-3">
					@if (User.Identity.IsAuthenticated)
					{
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm"><span class="fa fa-user-circle-o"></span> @User.Identity.Name</button>
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="#">Change Password</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="@Url.Action("_LogOff","Account")">Logout</a>
						</div>
					</div>
					}
					else
					{
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-login"><span class="fa fa-user-circle-o"></span> Login</button>
					}
				</div>
			</form>
		</div>
	</nav>
	<div class="container-fluid body-content" style="margin-top:20px;">
		@RenderBody()

		<!-- FOOTER -->
		<div class="container-fluid">
			<hr />
			<p class="float-right"><a href="#">Back to top</a></p>
			<p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="modal-login">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-secondary text-white">
					<h5 class="modal-title"><span class="fa fa-user-circle-o"></span> Login</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					@Html.Action("Login", "Account")
				</div>
			</div>
		</div>
	</div>



	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
